.vs
/NetCore/NetCore/obj/Release/netcoreapp2.2/NetCore.RazorAssemblyInfo.cs
/NetCore/NetCore/obj/Release/netcoreapp2.2/NetCore.AssemblyInfo.cs
/NetCore/NetCore/obj/Release/netcoreapp2.2/NetCore.AssemblyInfoInputs.cache
/NetCore/NetCore/obj/Release/netcoreapp2.2/NetCore.assets.cache
/NetCore/NetCore/obj/Release/netcoreapp2.2/NetCore.csproj.CoreCompileInputs.cache
/NetCore/NetCore/obj/Release/netcoreapp2.2/NetCore.RazorAssemblyInfo.cache
